<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name ="RetailApp">

<test name ="LoginTest">
<classes>
<class name = "com.retail.testcases.LoginTest">
</class>
</classes>
</test>

<test name ="AddCategory">
<classes>
<class name = "com.retail.testcases.AddCategory">
</class>
</classes>
</test>

<test name ="AddProduct">
<classes>
<class name = "com.retail.testcases.AddProduct">
</class>
</classes>
</test>

</suite>